PORT=3001
HOST=YOUR_MYSQL_HOST
USER_NAME=YOUR_MYSQL_USERNAME
PASSWORD=YOUR_MYSQL_PWD
DB_NAME=NAME_OF_YOUR_APP
ACCESS_EXPIRES_IN=2d
ACCESS_TOKEN_SECRET=ANY_SECRET
REFRESH_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=ANY_SECRET
APP_NAME=YOUR_APP_NAME